@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #78c1f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container,
.container-login {
  background-color: #ffffff;
  padding: 8px 8px 0px 8px;
  border-radius: 10px;
  max-width: 600px;
  width: 600px;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 80%;
}
#login-form {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 30px;
  gap: 20px;
}

.form-group {
  width: 100%;
  display: flex;
  align-items: center;
}
.form-group label {
  width: 30%;
  color: rgb(92, 92, 92);
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.form-group input {
  flex: 1;
  border: none;
  box-shadow: 0px 2px 0px 0px rgba(47, 208, 98, 0.5);
  font-size: 20px;
}

.btns-form {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.btns-form button {
  width: 100px;
  font-size: 20px;
  background-color: orange;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btns-form button:hover {
  transform: translateY(-4px);
  background-color: #4caf50;
  color: white;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

.register-text {
  font-size: 20px;
}
.register-btn {
  outline: none;
  text-decoration: none;
}

#title {
  font-size: 35px;
}

.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;

}

#layout {
  cursor: pointer;
  color:red;
}

.text-user {
  font-size: 20px;
  color: gray;
}

.toDo-header {
  display: flex;
  gap: 8px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.toDo-body {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.toDo-body input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 0px;
  font-size: 20px;
}

.toDo-body img {
  cursor: pointer;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

li {
  margin: 0 20px;
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  margin-bottom: 10px;
  border-radius: 5px;
}

h5 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: green;
}

.task-controls {
  width: 30px;
  height: 30px;
  padding: 3px;
  margin-right: 5px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.filter-controls {
  display: flex;
  gap: 20px;
  justify-content: end;
  font-size: 18px;
  margin-top: 40px;
  color: rgb(75, 75, 75);
  font-weight: 500;
  cursor: pointer;
}

.footer {
  color: gray;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-size: 18px;
}

.hidden {
  display: none !important;
}

#overplay {
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0; /* encima de todo */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  font-size: 20px;
}

.botonsConfirm {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.botonsConfirm > button {
  width: 82px;
  cursor: pointer;
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
}

#btnYes {
  background-color: red;
  color: white;
}

#btnNo {
  background-color: green;
  color: white;
}

#textTaskDelete {
  color: green;
  font-style: oblique;
}
