@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #78c1f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  padding: 8px 8px 20px 8px;
  border-radius: 10px;
  max-width: 600px;
  width: 80%;
}

#title {
  font-size: 35px;
}

.toDo-header {
  display: flex;
  gap: 8px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.toDo-body {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.toDo-body input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 0px;
  font-size: 20px;
}

.toDo-body img {
  cursor: pointer;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

 

li {
    margin: 0 20px;
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  margin-bottom: 10px;
  border-radius: 5px;
}

h5 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: green;
}

.task-controls {
  width: 30px;
  height: 30px;
  padding: 3px;
  margin-right: 5px;
}

.footer {
 display: flex;
 justify-content: center;
 padding-top: 10px;
}

.footer > *{
  font-size: 20px;
}

.autor{
  outline: none;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  background-color:rgb(126, 31, 31);
  padding: 4px 8px;
  border-radius: 10px;
 
}

.done {
  text-decoration: line-through;
  color: gray;
}

